*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --black: #000000;
    --bg_icon_dark: #222222;
    --bg_icon_light: #4A4A4A;
    --bg_icon: #4BC800;
    --red: #E52623;
    --bg_text_w: #FFFFFF;
}

#site_main{
    background-color: var(--black);
}

.player{
    text-align: end;
    padding: 10px;
}

/*#region webcam*/

img{
    width: 100%;
}
.expand_icons{
    color: var(--bg_text_w);
    padding: 0.25rem;
    background-color: var(--bg_icon_light);
    border-radius: 5px;
    display: inline-block;
}

.webcam{
    width: 90%;
    margin: auto;
}
.clearfix:after{
        content: "";
        clear: both;
        display: table;
    }

    .card{
        width: calc(100% / 7 - 20px);
        position: relative;
        float: left;
        margin: 10px;
        
    }

    .name{
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        background-color: rgba(128, 128, 128, 0.637);
    }

    /*#endregion webcam*/


/*#region menu*/
.bg_menu{
    background-color: var(--bg_icon_dark);

}

.menu{
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_left{
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu_center{
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
}

#bg_color{
    color: var(--bg_icon);
}

.menu_right{
    background-color: var(--bg_icon_light);
    text-align: center;
    align-items: center;
    gap: 15px;
    padding: 1rem;
}

#end_m{
    color: var(--red);
}


/*#endregion menu*/